.LeftContainer{
   border: 1px solid rgb(220, 220, 220) ;
    border-radius: 5px;
    width: 220px;
    background-color: white;
}
.LeftContainer_topBackground{

    height: 56px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   
}
.LeftContainer_Avatar{
    border: 1.6px solid rgb(232, 232, 232);
    border-radius: 50px;
    height: 56px !important;
    width: 56px !important;
    margin-top: -28.8px;
}
.LeftContainer_imgAndAvatar{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.LeftContainer_Avatar_UserInfo{
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.LeftContainer_Avatar_UserInfo h5{
    font-weight: 500;
    font-size: medium;
}
.LeftContainer_Avatar_UserInfo h6{
    margin-top: 10px;
    font-weight: 400;
    color: gray;
    padding-bottom: 10px;
    width: inherit;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.LeftContainer_Connection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0px 10px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid rgb(220, 220, 220); */
}
.GrayColor{
    color: gray;
}
.LeftContainer_ui_icon{
    color: gray;
    width: 15px !important;
    height: 15px !important;
}
.LeftContainer_ui_icon:hover, .LeftContainer_ui_icon:focus{
    color: black;
    cursor: pointer;
}
.LeftConatiner_bottom{
    border: 1px solid rgb(220, 220, 220) ;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    margin-top: 15px;
    padding: 10px;
}

.LeftConatiner_bottom h4{

font-size: medium;
font-weight: 600;
padding-bottom: 10px;
}

.RecentSearch{
    color: gray;
    padding-left: 20px;
    padding-bottom: 10px;
}


@media only screen and (max-width: 994px){
    .LeftContainer{
        width: 620px;
    }
    .LeftContainerWrap{
        display: flex;
        flex-direction: column;
    }
    .LeftConatiner_bottom {
        width: 600px;    
      
        
    }
    .LeftConatiner_bottom :nth-child(2){
        
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 640px){
    .LeftContainerWrap{
        width: 100%;
    }
    .LeftConatiner_bottom{

        width: calc(100% - 21.6px);
    
    }
    .LeftContainer{
 
        width: calc(100% - 1.6px);
    }
}