.MainMiddleContainer{
    width: 600px;
   padding-right: 20px;
}



.MiddleContainer{

    border: 1px solid rgb(220, 220, 220) ;
    border-radius: 5px;
    width: inherit;
    padding: 10px;
    background-color: white;
}
.MiddleContainer :first-child{
    display: flex;
    align-items: center;
}
.MiddleContainer_Aatar{
    width: 48px !important;
    height: 48px !important;
    border-radius: 50%;
   
}

.MiddleContainer :first-child button{
    width: calc(100% - 80px);
    margin-left: 15px;
    height: 46px;
    border-radius: 25px;
    background-color: transparent;
    color: gray;
    border: 1px solid gray;
    font-size: large;
    font-weight: 400;
    text-align: left;
    padding-left: 10px;
}

.MiddleContainer :first-child button:hover{
    cursor: pointer;
    background-color: #f3f2ef;
}
.MiddleContainerIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.skyBlueColor{
    color: rgb(52, 197, 254);
}
.forestgrenColor{
    color: rgb(9, 104, 17);
}
.brownColor{
    color: rgb(92, 75, 54);
}
.redColor{
    color: rgb(253, 116, 78);
}
.grayColor{
    color: gray;
}
.UserFeed{
    margin-top: 15px;
    border: 1px solid rgb(220, 220, 220) ;
    border-radius: 5px;
    width: inherit;
    padding: 10px;
    background-color: white;
}
.UserFeed :first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}
.UserFeed :first-child :last-child h6{
    color: gray;
    font-weight: 500;
}
.UserFeed :nth-child(2) p{
    margin-top: 10px;
    padding: 0px 10px;
}
.UserFeed :nth-child(3) {
    padding: 10px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.FeedModal{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    left: 0;
    z-index: 101;
    background-color: rgba(0,0,0,0.5);
  display: none;
    justify-content: center; 
}
.ShowDisplayFlex{
    display: flex !important;
}
.htmlOverflow{
    overflow: hidden;


    overflow-x: hidden;

    overflow-y: hidden;
}
.AddFeed{
    margin-top: 50px;
    width: 500px;
height: fit-content;
    opacity: 1;
    background-color: #fff;
    border-radius: 5px;
}
.AddFeed_header{
    padding: 15px;
    border-bottom: 1px solid rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AddFeed_header h4{
font-size: larger;
font-weight: 400;
}
.AddFeed_header :last-child{
    border-radius: 50%;
    height: 28px ;
    width: 28px ;

  
}
.AddFeed_header :last-child:hover{
 
    background-color: rgb(220, 220, 220);
}
.AddFeed_header :last-child :first-child{
    
    height: 28px !important;
    width: 28px !important;
    color: gray;
}
.AddFeed_user{
    display: flex;
    padding: 15px;
    gap: 10px;
    align-items: center;
}
.AddFeed_user :last-child{
    font-weight: 500;
}
.AddFeed_input{
    padding: 15px;
    width: calc(100% - 30px);
}
.AddFeed_input textarea{
    width: calc(100% - 30px);
    height: 100px;
    outline: none;
    border: none;
    appearance: none;
    -webkit-appearance: none; /* for Safari */
    -moz-appearance: none; 
    resize: none;
}
.AddFeed_btn{
    padding: 15px;
    width: calc(100%-30px);
    display: flex;
    justify-content: end;
}
.AddFeed_btn button{
    border-radius: 15px;
    padding: 5px 15px;
    font-size: medium;
    font-weight: 600;
    border: 0px;
    background-color: rgb(220, 220, 220);
    color: gray;
}
.AddFeed_btn button:hover{
    cursor: pointer;
}
@media only screen and (max-width: 1242px){
    .MainMiddleContainer{
        width: 400px;
    }
    }

    @media only screen and (max-width: 994px){
        .MainMiddleContainer{
            width: 600px;
        
        }

}
@media only screen and (max-width: 640px){
    .MainMiddleContainer{
        padding-right: 0px;
        width: 100%;
    
    }
    .MiddleContainer{
        width: calc(100% - 21.6px);
    }
    .UserFeed{
        width: calc(100% - 21.6px);
    }
}