.IconAndSearch_img{
 height: 2em;
}

.Search_Icon_Wrap{
    display: flex;
    align-items: center;
}

.SearchContainer{
    color: gray;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #eef3f8;
}
.SecarchInput{
    height: 2em;
    outline: none;
    border: none;
    background-color: transparent;
}
@media only screen and (max-width: 768px) {
    .SecarchInput{
        display: none;
       
    }
    .SearchContainer{
        background-color: transparent;
        width: 20px;
    }
}
.SearchIcon_icon_icon_toggle{
    color: gray;
}

.SearchContainerToggle{
    background-color: #eef3f8;
    width: calc(100vw - 100px);
}
.SecarchInputToggle{
    display: block;
    width: calc(100vw - 100px);
}
.displayNoneToggle{
    display: none;
}